body {
  background-color: #ffe0c6;
}

button {
  font-size: 20px;
  background-color: #f9f9f9;
  border: 1px solid #dadada;
  font-family: Arial, Helvetica, sans-serif;
}

button:active {
  outline: none;
  background-color: #dadada;
}

button:focus {
  outline: 4px solid #dadada;
}

#add {
  grid-area: add;
}

#back {
  grid-area: back;
}

#calculator {
  height: 400px;
  width: 350px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 76px auto;
  grid-gap: 4px;
  grid-template-areas:
    "display display display display"
    "clear clear back divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    "zero zero dot equals";
  padding: 12px;
  background-color: #0a0a0a;
  margin: 60px auto auto auto;
}

#clear {
  grid-area: clear;
}

#display {
  background-color: #d3f3d3;
  border: 1px solid #85b385;
  font-size: 22px;
  line-height: 76px;
  font-family: monospace;
  grid-area: display;
  display: grid;
  justify-content: right;
  padding-right: 20px;
  padding-left: 20px;
  overflow: hidden;
}

#divide {
  grid-area: divide;
}

#eight {
  grid-area: eight;
}

#equals {
  background-color: #c6dfff;
  border: 1px solid #9dc8ff;
  grid-area: equals;
}

#equals:active {
  background-color: #9dc8ff;
}

#five {
  grid-area: five;
}

#four {
  grid-area: four;
}

#joke {
  margin-top: 24px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
}

#multiply {
  grid-area: multiply;
}

#nine {
  grid-area: nine;
}

#one {
  grid-area: one;
}

#seven {
  grid-area: seven;
}

#six {
  grid-area: six;
}

#three {
  grid-area: three;
}

#two {
  grid-area: two;
}

#zero {
  grid-area: zero;
}

.op {
  background-color: #ffd891;
  border: 1px solid #ffc864;
}

.op:active {
  background-color: #ffc864;
}
